html, body { 
    height: 100%;
    margin: 0; 
}

body {
    display: grid;
    place-items: center;
    transition: background 0.8s linear;
}

#label {
    padding: 14px 18px;
    border-radius: 16px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    color: rgba(255,255,255,0.9);
    font-size: 12px;
}